h1 {
    text-align: center;
}

h2 {
    font-weight: bold;
    margin-top: 1.3rem;
    margin-bottom: 0.8rem;
}

h3 {
    font-weight: normal;
    text-decoration: underline;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#mg17 {
    position: relative;
    text-align: center;
}

#mg17::after {
    content: 'Source  : Wikimédia';
    bottom: 0;
    position: absolute;
    height: 1rem;
}

.sourceConstructeur {
    position: relative;
    text-align: center;
    padding-bottom: 1.5rem;
}

.sourceConstructeur::after {
    content: "source : document constructeur";
    bottom: 0;
    position: absolute;
    height: 1rem;
}

.table210 {
    border: solid 1px black;
    width: 60%;
}

.table210 td {
    border: solid 1px black;
    padding: 0.5rem;
}

.wikipedia {
    position: relative;
    text-align: center;
    margin-bottom: 2.5rem;
}

.wikipedia::after {
    content: 'Source  : Wikipédia';
    bottom: -1.5rem;
    position: absolute;
    height: 1rem;
}

.moteurs {
    margin-left: 1.5rem;
}

.fleche {
    position: relative;
    padding-left: 5px;
}

.fleche::before {
    position: absolute;
    left: -40px;
    content: url(../img/arrow.png);
}

.sourcePerso {
    position: relative;
    text-align: center;
    padding-bottom: 1.5rem;
}

.sourcePerso::after {
    content: "source : Collection personelle";
    bottom: 0;
    position: absolute;
    height: 1rem;
}